@import url(./vendor/normalize.css);
@import url(./block/about/about.css);
@import url(./block/carousel/carousel.css);
@import url(./block/header/header.css);
@import url(./block/intro/intro.css);
@import url(./block/menu/menu.css);
@import url(./block/vologda/vologda.css);
@import url(./fonts/font.css);
@import url(./block/order/order.css);
@import url(./block/sum/sum.css);
@import url(./block/cards/cards.css);
@import url(./block/popup/popup.css);
body {
  background: rgb(0, 0, 0);
  background-size: 400%;
  height: 100vh;
  animation: gradient 7s infinite linear;
}
html {
  scroll-behavior: smooth;
}