.intro{
    height: 900px;
    background-image: url(../../images/LOGOPOIZON\ [problembo.com].jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
  }
  @media screen and (max-width: 768px) {
    
    .intro{
      max-height: 500px;
    }
  }